<div class="main-container">
  <div class="login-container">
    <div class="credentials-container">
      <div class="title-container">
        <div class="title"><b>Login</b></div>
        <div class="subtitle">
          Enter your credentials to access your account
        </div>
      </div>
      <form [formGroup]="reactiveForm">
        <div class="form-group">
          <label for="email">*Email</label>
          <span
              *ngIf="
              reactiveForm.controls.email.invalid &&
                (reactiveForm.controls.email.touched ||
                reactiveForm.controls.email.dirty)
              "
              class="text-danger"
            >
              Please enter a valid email!
            </span>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <div class="password-container">
            <div><label for="password">*Password</label></div>
            <div class="forgotPassword">
              <a
                class="forgotPassword"
                href=""
                [routerLink]="['/forgot-password']"
              >
                <b>Forgot password?</b></a
              >
            </div>
          </div>  
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div> 
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Remember information</label
          >
        </div>
        <div class="button-container">
          <button
            type="submit"
            class="btn btn-primary login-btn"
            [disabled]="!isValid()"
            (click)="login()"
          >
            Login
          </button>
        </div>
        <div class="button-container">
          <label>Don't have an account? </label>
          <a class="register-text" href="" [routerLink]="['/register']">
            <b>Register here</b></a
          >
        </div>
      </form>
    </div>
    <div class="rights-container">Ⓒ 2023, Pitcher, All Rights reserved</div>
  </div>

  <div class="hero-container">
    <img
      src="../../../../../assets/images/LOGO3.jpeg"
      alt="bicycle-workshop"
      width="25%"
      style="border-radius: 30px;"
      class="hero-image">
      <label class="slogan"><b>Empower your dreams, empower your team!</b></label>
      <label class="slogan-two"
        >Be part of a project or create your own project and join a community of
        like-minded individuals who are dedicated to helping each other grow and
        succeed.</label
      >      
    <svg width="40%" height="40%" style="margin-bottom: 30px;" xmlns="http://www.w3.org/2000/svg">
        <image
          href="../../../../../assets/images/bicycle-workshop.svg"
          height="100%"
          width="100%"
          
        />
      </svg>
  </div>
</div>
