$color-background: #1b1d43;
$color-container-bg: #0d0f2f;
$color-bar-bg: #3d4780;
$color-filledbar-start: #4d12ad;
$color-active-btn: #7a85bf;
$color-filledbar-middle: #ffc400;
$color-filledbar-end: #de350a;
$color-filledbar-gradient: linear-gradient(
    90deg,
    $color-filledbar-start 0%,
    $color-filledbar-middle 65%,
    $color-filledbar-end 100%,
);
.logout-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
}
hr{
    border: 1px solid #fafafa;
    width: 80%;
@import '../../../../../styles.scss';

}
.body {
    padding-top: 5%;
    background-color: $color-bg-primary;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
}

.list-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.card {
    display: flex;
    height: 200px;
    width: 400px;
    background-color: $color-bg-secondary;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -100px;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    box-shadow: 0 0 30px 2px rgba(88, 76, 219, 0.35);
}

.card:hover ~ .card {
    position: relative;
    left: 130px;
    transition: 0.4s ease-out;
}

.title {
    color: white;
    font-weight: 500;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15px;
    -webkit-line-clamp: 3; /* limit to 3 lines */
    line-clamp: 3; /* limit to 3 lines */
    display: -webkit-box;
    overflow: hidden; /* hide overflow */
    text-overflow: ellipsis; /* show ellipsis for overflowed text */
    transition: width 0.6s ease-in;
}

.bar {
    position: absolute;
    top: 65px;
    height: 12px;
    left: 5%;
    right: 5%;
    width: 320px;
    border-radius: 25px;
}

.emptybar {
    background-color: $color-bg-primary;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    height: 100%;
    width: 0px;
    transition: width 0.6s ease-out;
    background: $color-progress-gradient;
    border-radius: 25px;
}

.card:hover .filledbar {
    width: calc(320px * (var(--progress) / 100));
    transition: width 0.4s ease-out;
}

.card:hover .title {
    color: rgb(159, 117, 243);
    transition: width 0.4s ease-out;
}

.description {
    color: rgb(206, 206, 206);
    font-size: 14px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4; /* limit to 4 lines */
    line-clamp: 4; /* limit to 4 lines */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: color 0.8s ease-in;
}

.card:hover .description {
    color: $color-action-secondary;
    transition: color 1.2s ease-out;
}

.list-header {
    color: white;
    font-weight: 900;
    transition: display 0.8s ease-in;
    font-size: 40px;
}

.button {
    display: inline-block;
    margin-bottom: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $color-bg-secondary;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-bg-tertiary;
    }

    &:active {
        background-color: $color-action-secondary;
    }
}

.modal{
    background-color: $color-bg-primary;
}
