@import "../../../styles.scss";
$nav-width: 240px; // Set the default width of the navigation bar

.main-content {
    margin-left: $nav-width;
    transition: margin-left 0.6s ease-in-out; // Add a transition to the margin-left property
}

@media screen and (max-width: 767px) {
    $nav-width: 100%;
}

.mat-sidenav {
    background-color: #0d0f2f;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    &.mat-drawer-closed {
        transform: translateX(-$nav-width);
    }
}

.full-height {
    height: 100%;
    background-color: $color-bg-primary;
}

.padded {
    padding: 10px;
}

.with-icon {
    display: flex;
    align-items: center;
}
.mat-icon {
    color: $color-action-secondary;
}

.item-name {
    color: white;
}

.with-icon:hover mat-icon {
    color: $color-action-secondary;
}

.with-icon:hover span {
    color: $color-action-secondary;
}
.tab-title{
    color: #fafafa;
}
